/* ============================
   ESTILO GENERAL
=============================== */

body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 60px;
    margin: 0;
}

/* ============================
CONTENEDOR PRINCIPAL
=============================== */

.contenedor {
    width: 350px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    overflow: hidden;
}

/* ============================
ENCABEZADO AZUL
=============================== */

.encabezado {
    background: #003366;
    color: white;
    padding: 18px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* ============================
FORMULARIO
=============================== */

form {
    padding: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
    box-sizing: border-box;
}

/* ============================
BOTONES
=============================== */

button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background: #003366;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
}
button:hover {
    background: #002244;
}

.btn-view-contraseña {
    width: 100%;
    padding: 12px;
    font-size: 10px;
    background: white;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
}

.btn-view-contraseña:hover {
    background: none;
    color: #003366;
}



/* ============================
TEXTOS INFERIORES
=============================== */

.mensaje {
    text-align: center;
    padding: 10px 0 18px;
    font-size: 14px;
}

.mensaje a {
    color: #003366;
    text-decoration: none;
    font-weight: bold;
}

.mensaje a:hover {
    text-decoration: underline;
}

/* ============================
ERRORES Y ÉXITOS
=============================== */

.error {
    text-align: center;
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.success {
    text-align: center;
    color: green;
    font-size: 14px;
    margin-top: 10px;
}
